@media (min-width: 992px) {
    .navbar-brand {
        margin-left: 19.5em;
        margin-right: 0em;
    }
}

@media (min-width: 992px) {
    .col {
        margin-left: 26em;
        margin-right: 26em;
    }
}

body {
    background-color: #000 !important;
    font-family: 'Inter', sans-serif;
}

@media (min-width: 992px) {
    #body-box {
        margin-left: 25em;
        margin-right: 0em;
        margin-top: 7.7em;
    }
}

#head-txt {
    margin-top: 40px;
    margin-bottom: 70px;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 55px;
    font-weight: bold;
}

.card-img-top {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover;
}

.bg-dark {
    background-color: #000 !important;
}

.card {
    margin-right: 4em;
}

.card-title {
    padding: 0 !important;
}

#skills {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: 500;
}

#end-col {
    margin-left: 25.7em;
    margin-right: 55em;
}

.btn-outline {
    color: #fff;
    border-color: #fff;
    border-radius: 10em;
    margin-right: 1.1em;
    margin-left: 0;
    margin-bottom: 1em;
    font: 'Inter';
    font-size: 0.95em;
}

.no-pad {
    padding: 0;
    margin-top: 1em;
}

.no-pad-msg {
    margin-top: 3.8em;
}

.img-fil-red {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    height: 1.3em;
    margin-right: 0.4em;
    margin-bottom: 0.2em;
}

.btn-red:hover {
    background-color: rgba(255, 92, 66, 0.19);
    color: #fff;
}

.btn-red {
    color: #ffffff;
    border-color: #9D3A22;
}

.img-fil-lblu {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(88%) contrast(103%);
    height: 0.95em;
    margin-right: 0.4em;
    margin-bottom: 0.22em;
}

.btn-lblu:hover {
    background-color: rgba(66, 236, 255, 0.19);
    color: #fff;
}

.btn-lblu {
    color: #ffffff;
    border-color: #0288A6;
}

.img-fil-grn {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(90%) contrast(103%);
    height: 1em;
    margin-right: 0.4em;
    margin-bottom: 0.22em;
}

.btn-grn:hover {
    background-color: rgba(70, 237, 62, 0.19);
    color: #fff;
}

.btn-grn {
    color: #ffffff;
    border-color: #2B9A63;
}

.img-fil-pink {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    height: 1.3em;
    margin-right: 0.4em;
    margin-bottom: 0.22em;
}

.btn-pink:hover {
    background-color: rgba(173, 42, 118, 0.31);
    color: #fff;
}

.btn-pink {
    color: #ffffff;
    border-color: #ad2a76;
}

.img-fil-org {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    height: 1em;
    margin-right: 0.4em;
    margin-bottom: 0.22em;
}

.btn-org:hover {
    background-color: rgba(154, 71, 34, 0.35);
    color: #fff;
}

.btn-org {
    color: #ffffff;
    border-color: #9A4722;
}


.img-fil-teal {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    height: 1em;
    margin-right: 0.4em;
    margin-bottom: 0.22em;
}

.btn-teal:hover {
    background-color: rgba(47, 173, 152, 0.28);
    color: #fff;
}

.btn-teal {
    color: #ffffff;
    border-color: #3c8276;
}

.img-fil-purp {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(90%) contrast(103%);
    height: 1em;
    margin-right: 0.4em;
    margin-bottom: 0.22em;
}

.btn-purp:hover {
    background-color: rgba(99, 71, 161, 0.29);
    color: #fff;
}

.btn-purp {
    color: #ffffff;
    border-color: #6347a1;
}


.img-fil-yel {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(88%) contrast(103%);
    height: 1em;
    margin-right: 0.4em;
    margin-bottom: 0.22em;
}

.btn-yel:hover {
    background-color: rgba(170, 157, 30, 0.26);
    color: #fff;
}

.btn-yel {
    color: #ffffff;
    border-color: #AA9D1E;
}

.img-fil-blu {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(90%) contrast(103%);
    height: 1em;
    margin-right: 0.4em;
    margin-bottom: 0.22em;
}

.btn-blu:hover {
    background-color: rgba(3, 73, 158, 0.38);
    color: #fff;
}

.btn-blu {
    color: #ffffff;
    border-color: #03499E;
}

.form-control {
    font-family: 'Inter', sans-serif;
    color: white !important;
    background-color: black;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: rgba(255, 255, 255, 0.14);

}


.form-control:focus {
    background-color: black;
    border-color: rgba(255, 255, 255, 0.79);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

label {
    color: rgba(255, 255, 255, 0.28);
}

.btn-outline-dark {
    border-color: rgba(255, 255, 255, 0.24);
    color: rgba(255, 255, 255, 0.34);
}
